# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# DB
prisma/dev.db
prisma/dev.db-journal
prisma/*.db

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts